# 全ファイルを無視
*

!.gitignore
!.gitkeep
!.gitmodules

!*.go
!go.mod
!go.sum

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!/compatible/
!/examples/
!/gen/
!/gen/*.tpl
!/internal/
!/model/

!/.editorconfig
!/.golangci.yml
!/commitlint.config.cjs
!/dataset
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/README.md
