name: Build
on:
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/**"
      - ".idea/**"
      - ".vscode/**"
      - "LICENSE"
      - "*.md"
      - "commitlint.config.cjs"
      - "lefthook.yaml"
      - "package.json"
      - "pnpm-lock.yaml"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - ".github/**"
      - ".idea/**"
      - ".vscode/**"
      - ".npmignore"
      - "LICENSE"
      - "*.md"
      - "commitlint.config.cjs"
      - "lefthook.yaml"
      - "package.json"
      - "pnpm-lock.yaml"

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    strategy:
      matrix:
        go-version: ["1.23", "1.24", "1.25"]

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          submodules: true

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}

      - name: Get dependencies
        run: go get -v -t

      - name: Generate
        run: go generate -v ./...

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test

      - name: Test Compatible
        run: go test
        working-directory: ./compatible
